 
<div class="row" style="margin: 10px 44px 10px 0px;">
 
  <div class="col-md-2 offset-md-10">
    <div class="btn-group" role="group">
      <%= link_to "Import", admissions_import_path, class: "btn btn-xs btn-info" %>
      <!--<%= link_to 'New Admission', admission_new_path, class: "btn btn-xs btn-info" %> -->
   </div>
  </div>
</div>

<!--<h1 align="center">Create new admission registration</h1>-->

<%= render 'form', student: @student %>


<style>
  .btn-group > .btn:first-child {
    margin-left: 254px !important;
}
</style>