<div class="jumbotron center">
  <h1>Welcome to Al-Suffah school management application</h1>
  <h2>The best option for managing the school</h2>
  <!--<p><%= link_to "Start Working Now...", "#", class: "btn btn-success btn-lg" %></p>-->
  <p><%= link_to "Start Discovering Now...", "#", class: "btn btn-success btn-lg" %></p>
</div>

