<div class="jumbotron center">
  <h1>Welcome to Al-Suffah school management app</h1>
  <h2>The best option for managing the school</h2>
  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg" %></p>
</div>
