
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables/jquery.dataTables";

#logo {
  float: left;
  font-size: 1.7em;
  color: #bd9090;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #c56f6f;
  text-decoration: none;
}  

.center {
  text-align: center;
}

// .bg-light {
//     background-color: #073B15 !important;
// }

.jumbotron {
    margin-top: 81px;
}

.jumbotron h1 {
  color: #c19897;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #c19897;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}



// label {
//   margin-left: 89px;
//   margin-top: 7px;
//   font-weight: bold;
// }

// .login_button {
//       margin-left: 208px;
      
// }

.return_link {
  color: #bd9090;
}

.return_link:hover {
  color: #c56f6f;
  text-decoration: none;
} 

hr {
    height: 9px;
}

h1 {
    margin-top: 8px;
}

#my_img {
  float: right;
  // margin-right: -245px;
  // margin-right: -449px;
  width: 27%;
  margin-right: -485px;
  border: 1px solid darkgray;
  margin-top: -9px;
  border-radius: 50% !important;
}

// .student_actions {
//     margin-top: 275px;
//     padding-bottom: 15px;
// }

.student_actions {
    /* margin-top: 275px; */
    padding-bottom: 15px;
    text-align: center;
}
// .container-fluid {
//     width: 903px !important;
// }

.container_margin {
    margin-top: 13px;
}

.row_margin {
    margin-top: 9px;
}

// #search {
//     display: block;
//     width: 40%;
//     height: calc(2.25rem + 2px);
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: .25rem;
//     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }


// .search-button {
//     margin-left: 399px;
//     margin-top: -65px;
// }

// .table-width {
//     width: 1149px;
// }

#admission_form {
    padding-left: 50px;
    margin-top: 33px;
}

#student_gender_male {
	margin-right: 10px;
}

#student_gender_female {
	margin-right: 10px;
    margin-top: 11px;
}

label {
	margin-right: 15px;
}

#student_req_trans_yes {
    margin-right: 10px;
}

#student_req_trans_no {
    margin-right: 10px;
    margin-top: 11px;
}

.new_action {
    // margin-right: -40px;
    float: right;
    // margin-left: -99px;
}

#s_import {
    margin-top: 154px;
    margin-left: 407px;
    margin-bottom: 146px;
    height: 200px;
    width: 400px;
    background-color: rgb(239, 244, 249);
    text-align: center;
    border-radius: 8px;
}


.import {
border-radius: 8px;
cursor: pointer;
color: white;
background-color: #009578;
padding: 10px;
border: 1px solid #a99191;
  
}

#file {
border-radius: 8px;
cursor: pointer;
color: white;
background-color: #009578;
padding: 10px;
border: 1px solid #a99191;
margin-left: 10px;
margin-bottom: 20px;
}

.import_heading {
  font-weight: bold;
  padding: 10px;
  margin-left: 15px;
}

.new_button {
    float: right;
}

.flash_color {
  color: darkcyan;
}

.badge {
    background-color: #bd9090;
    color: white;
    font-size: 100%;
}



.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}


table, tbody, thead, tr, th, td {
 
  vertical-align: middle !important;
}

.input-group {
  justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    color: #777;
    padding: 0px;
}


// footer {
//   margin-top: 111px;
//   padding-top: 15px;
//   border-top: 1px solid #eaeaea;
//   color: #777;
//   padding-left: 10px;
//   padding-right: 10px;
// }


footer a {
  // color: #555;
  color: #7f7b7b;

}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#student_main_info {
    float:left;
    margin-left:50px;
    width:500px;
}
#student_main_info h3 {
    margin:0;
    padding:0;
    margin-top:0px;
}
#student_main_info h4 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:10px;
}
#student_main_info h6 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:5px;
}
#student_main_info h5 {
    background-color:#eee;
}

// #new_profile_info_top {
//     margin:30px auto;
//     width:697px;
   
// }

#new_profile_info_top {
    margin: 30px auto;
    width: 585px;
}

.profile_top_banner{
    position:absolute;
    float:right;
    padding-left:525px;
    margin-top:-12px;
    
}

.profile_info_label_top {
    padding-top:7px;
    padding-bottom:5px;
    height:41px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}

.profile_info_text_top {
    padding-top:7px;
    padding-bottom:5px;
    padding-left:20px;
    height:41px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}

.profile_info_text_top a{
    color:#000;
}
.profile_info_text_top a:hover{
    color:#BB0000;
}

.profile_info_label_top2 {
    padding-top:7px;
    padding-bottom:5px;
    height:41px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}

.profile_info_text_top2 {
    padding-top:7px;
    padding-bottom:5px;
    padding-left:20px;
    height:41px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
}

.new_profile_info_area1 {
    height:87px;
    width:682px;
   
}

.extender {
    height: 1px;
    clear: both;
}
    
// #student_profile_heading {
//     width: 800px;
//     margin: 0px auto;
// }

#student_profile_heading {
    width: 725px;
    margin: 0px 148px;
}

#profile_picture_display {
    float: left;
    width: 125px;
    height: 125px;
    margin-left: 50px;
    border: 8px solid #EFEFD1;
}

#my_height_width {
  height: 109px;
    width: 109px;
}
    
  
// #page-yield {
//     margin: 30px 0;
//     /* margin-left: 10px; */
// }


#page-yield {
       margin: -21px 0;
    /* margin-left: 10px; */
}


#content {
    padding-bottom: 33px;
    margin-top: 40px;
}

#content {
    float: left;
    width: 980px;
}

.odd{
    height:auto;
    background: #eff3fe;
    margin-right: 45px;
}
.odd td{
    font-weight:bold;
    padding:10px 10px 10px 10px;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    height:auto;
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}

table {
    border-collapse: separate;
}