
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dataTables/jquery.dataTables";

#logo {
  float: left;
  font-size: 1.7em;
  color: #bd9090;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #c56f6f;
  text-decoration: none;
}  

.center {
  text-align: center;
}

// .bg-light {
//     background-color: #073B15 !important;
// }

.jumbotron {
    margin-top: 81px;
}

.jumbotron h1 {
  color: #c19897;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #c19897;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}


footer {
  margin-top: 111px;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// label {
//   margin-left: 89px;
//   margin-top: 7px;
//   font-weight: bold;
// }

// .login_button {
//       margin-left: 208px;
      
// }

.return_link {
  color: #bd9090;
}

.return_link:hover {
  color: #c56f6f;
  text-decoration: none;
} 

hr {
    height: 9px;
}

h1 {
    margin-top: 8px;
}

#my_img {
  float: right;
  // margin-right: -245px;
  // margin-right: -449px;
  width: 27%;
  margin-right: -485px;
  border: 1px solid darkgray;
  margin-top: -9px;
  border-radius: 50% !important;
}

.student_actions {
    margin-top: 275px;
    padding-bottom: 15px;
}

// .container-fluid {
//     width: 903px !important;
// }

.container_margin {
    margin-top: 13px;
}

.row_margin {
    margin-top: 9px;
}

// #search {
//     display: block;
//     width: 40%;
//     height: calc(2.25rem + 2px);
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: .25rem;
//     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }


// .search-button {
//     margin-left: 399px;
//     margin-top: -65px;
// }

// .table-width {
//     width: 1149px;
// }

#admission_form {
    padding-left: 50px;
    margin-top: 33px;
}

#student_gender_male {
	margin-right: 10px;
}

#student_gender_female {
	margin-right: 10px;
    margin-top: 11px;
}

label {
	margin-right: 15px;
}

#student_req_trans_yes {
    margin-right: 10px;
}

#student_req_trans_no {
    margin-right: 10px;
    margin-top: 11px;
}

.new_action {
    // margin-right: -40px;
    float: right;
    // margin-left: -99px;
}

#s_import {
    margin-top: 154px;
    margin-left: 407px;
    margin-bottom: 146px;
    height: 200px;
    width: 400px;
    background-color: rgb(239, 244, 249);
    text-align: center;
    border-radius: 8px;
}


.import {
border-radius: 8px;
cursor: pointer;
color: white;
background-color: #009578;
padding: 10px;
border: 1px solid #a99191;
  
}

#file {
border-radius: 8px;
cursor: pointer;
color: white;
background-color: #009578;
padding: 10px;
border: 1px solid #a99191;
margin-left: 10px;
margin-bottom: 20px;
}

.import_heading {
  font-weight: bold;
  padding: 10px;
  margin-left: 15px;
}

.new_button {
    float: right;
}

.flash_color {
  color: darkcyan;
}

.badge {
    background-color: #bd9090;
    color: white;
    font-size: 100%;
}



.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}


table, tbody, thead, tr, th, td {
 
  vertical-align: middle !important;
}

.input-group {
  justify-content: center;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}