<footer class="footer">
  <small>
    <strong><a href="#"> School Management System</a></strong>
    by <em><a href="#">Yaseen Kola</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Admission",   '#' %></li>
    </ul>
  </nav>
</footer>